<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiantong.mapper.MusicRankMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiantong.model.MusicRank">
        <id column="id" property="id" />
        <result column="song_id" property="songId" />
        <result column="url" property="url" />
        <result column="rank" property="rank" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, song_id, url, rank
    </sql>
    <select id="getRank" parameterType="java.lang.Integer" resultType="com.tiantong.model.Music">
        SELECT * from music where state = 1
        ORDER BY
        <if test="type ==4">
            play_num
        </if>
        <if test="type ==2">
            like_num
        </if>
        <if test="type ==3">
            collect_num
        </if>
        <if test="type ==5">
            (play_num+like_num+collect_num)
        </if>
        <if test="type ==1">
            create_date
        </if>
        desc
        limit 0,8
    </select>
</mapper>
