<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiantong.mapper.MusicMapper">

    <select id="test" resultType="java.lang.Integer">
        select count(*) from music
    </select>
    <update id="addPlayNum" parameterType="java.lang.Integer">
        UPDATE music
SET play_num = play_num + 1
WHERE
	id = #{id}
    </update>
    <update id="addLikeNum" parameterType="java.lang.Integer">
        UPDATE music
SET like_num = like_num + 1
WHERE
	id = #{id}
    </update>
    <update id="addCollectNum" parameterType="java.lang.Integer">
        UPDATE music
SET collect_num = collect_num + 1
WHERE
	id = #{id}
    </update>

</mapper>
