<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiantong.mapper.SongRecommendTableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiantong.model.SongRecommendTable">
        <id column="id" property="id" />
        <result column="song_id" property="songId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, song_id
    </sql>
<select id="getRecommandSongList" resultType="com.tiantong.model.Music">
    select b.id as id,profile_url, name, singer, album, poster_url, time_length, lyric_url, creator, create_date, state, collect_num, like_num, song_img, play_num, songer_id, remark from music a,song_recommend_table b where a.id=b.song_id
</select>
</mapper>
