<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiantong.mapper.SongerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiantong.model.Songer">
        <id column="id" property="id" />
        <result column="account_id" property="accountId" />
        <result column="songer_name" property="songerName" />
        <result column="info" property="info" />
        <result column="type" property="type" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account_id, songer_name, info, type, state
    </sql>
    <select id="getSingerList" parameterType="java.lang.Integer" resultType="com.tiantong.model.SingerInfo">
       select b.id,b.account,b.account_name,b.photo_url,b.sex ,a.state  as checkState,a.singer_type as singerType,a.remark,a.id as singerId,  a.info from songer a left join account  b on a.account_id = b.id
        where a.state=#{state}
    </select>

</mapper>
